<ul class="menu w-full grow my-2">
    <!-- List item -->
    <li>
    <label for="my-drawer-4" aria-label="open sidebar" class="is-drawer-close:tooltip is-drawer-close:tooltip-right">
        <!-- Sidebar toggle icon -->
        <span class="material-symbols-outlined">left_panel_open</span>
    </label>
    </li>
    <!-- List item -->
    <li>
    <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Homepage">
        <!-- Home icon -->
        <span class="material-symbols-outlined">home</span>
        <span class="is-drawer-close:hidden">Homepage</span>
    </button>
    </li>

    <!-- List item -->
    <li>
    <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Settings">
        <!-- Settings icon -->
        <span class="material-symbols-outlined">tune</span>
        <span class="is-drawer-close:hidden">Settings</span>
    </button>
    </li>
</ul>
